In [1]:
import pandas as pd
import functools

In [2]:
def sort_dataframes_by_mean(data, column):

  def compare(df1, df2):
    if df1[column].mean() < df2[column].mean():
      return -1
    elif df1[column].mean() > df2[column].mean():
      return 1
    else:
      if df1[column].max() < df2[column].max(): 
        return -1
      elif df1[column].max() > df2[column].max(): 
        return 1
      else:
        return 0

  compare_key = functools.cmp_to_key(compare)
  sort_by_mean = sorted(data, key=compare_key)
  return sort_by_mean

In [3]:
data_1 = pd.DataFrame([
    [2, 2, 3, 4],
    [3, 6, 7, 9],
    [5, 2, 3, 4],
    [3, 2, 3, 4]
], columns=[f"Column_{idx}" for idx in range(1, 5)])
data_1

   Column_1  Column_2  Column_3  Column_4
0         2         2         3         4
1         3         6         7         9
2         5         2         3         4
3         3         2         3         4

In [4]:
data_2 = pd.DataFrame([
    [2, 2, 3, 4],
    [3, 6, 7, 9],
    [5, 2, 3, 4],
    [3, 2, 7, 4]
], columns=[f"Column_{idx}" for idx in range(1, 5)])
data_2

   Column_1  Column_2  Column_3  Column_4
0         2         2         3         4
1         3         6         7         9
2         5         2         3         4
3         3         2         7         4

In [5]:
data_3 = pd.DataFrame([
    [2, 2, 3, 4],
    [3, 6, 5, 9],
    [5, 2, 3, 4],
    [3, 2, 9, 4]
], columns=[f"Column_{idx}" for idx in range(1, 5)])
data_3

   Column_1  Column_2  Column_3  Column_4
0         2         2         3         4
1         3         6         5         9
2         5         2         3         4
3         3         2         9         4

In [6]:
sort_dataframes_by_mean([data_3, data_2, data_1], column="Column_3")

[   Column_1  Column_2  Column_3  Column_4
 0         2         2         3         4
 1         3         6         7         9
 2         5         2         3         4
 3         3         2         3         4,
    Column_1  Column_2  Column_3  Column_4
 0         2         2         3         4
 1         3         6         7         9
 2         5         2         3         4
 3         3         2         7         4,
    Column_1  Column_2  Column_3  Column_4
 0         2         2         3         4
 1         3         6         5         9
 2         5         2         3         4
 3         3         2         9         4]